#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.no-visibility {
  visibility: hidden;
}

.page-main {
  padding: 2em;
}

.page-footer {
  color: #888;
}

.user-story-paragraph {
  font-size: 1.5em;
}

.editable-story-detail {
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.8);
}

.separator {
  opacity: 0.5;
  width: 80%;
  margin: auto;
}

.user-story-lecture-article {
  text-align: left;
  max-width: 700px;
}
